
/* Para phablets o teléfonos grandes (entre 413px y 767px) */
@media screen and (min-width: 200px) and (max-width: 600px) {
    *{
        margin: 0;
        font-size: 7px;
    }
   
    .buttons-container{
        display: flex;
        margin-top: 50%;
        width: 70em;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    

}
